/* Existing styles */
@font-face {
    font-family: Semibold;
    src: url(SourceSansPro-Semibold.otf);
}

@font-face {
    font-family: Regular;
    src: url(SourceSansPro-Regular.otf);
}

@font-face {
    font-family: ExtraLight;
    src: url(SourceSansPro-ExtraLight.otf);
}

@font-face {
    font-family: Light;
    src: url(SourceSansPro-Light.otf);
}

/* variables */
:root {
    --red: #FF6565;
    --white: white;
    --display: flex;
    --space-evenly: space-evenly;
    --width: 100%;
    --flex-direction: column;
    --align-items: center;
    --text-align: center;
    --background-size: cover;
    --font-size: small;
}

/* Media query for mobile version */
@media only screen and (max-width: 480px) {
    body {
        max-width: 100%;
        padding: 10px;
    }

    header div:active .fa-xmark {
        display: inline;
    }

    header div:active .fa-bars {
        display: none;
    }

    nav {
        position: absolute;
        top: 70px;
        right: 350px;
    }

    ul {
        flex-direction: column;
    }
}

/* Common Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

a {
    text-decoration: none;
}

header, header ul, #register div, #portofolios, #Our-Results, #percentages, #percentages div {
    display: var(--display);
}

a:hover, .portofolio i {
    color: var(--red);
}

a, #register div, button, #Our-Results {
    color: var(--white);
}

#portofolios, #percentages {
    justify-content: var(--space-evenly);
}

header, main, #register, #what-we-do, #Our-Results, #percentages {
    width: var(--width);
}

#register div, #what-we-do, #Our-Results, #percentages, #percentages div {
    text-align: var(--text-align);
}

#register div, #Our-Results, #percentages div {
    flex-direction: var(--flex-direction);
}

header, #register div, #portofolios {
    align-items: var(--align-items);
}

#register, #Our-Results {
    background-size: var(--background-size);
}

#register span, button, #register p, .portofolio span, #Our-Results p {
    font-size: var(--font-size);
}

button, #register p {
    font-family: ExtraLight;
}

header ul li a, h1, #what-we-do h2, #Our-Results h2 {
    font-family: Semibold;
}

#register span, #percentages h3 {
    font-family: Regular;
}

#what-we-do p, .portofolio h3, .portofolio span, #Our-Results p, #percentages span {
    font-family: Light;
}

/* header styles */
header {
    justify-content: space-around;
    padding: 40px 0;
    margin: 0 10%;
    position: absolute;
    flex-wrap: wrap;
}

header div {
    position: relative;
}

.fa-xmark {
    display: none;
}

.fa-bars {
    position: absolute;
    left: 0;
    display: none;
}

header img {
    width: 150px;
    height: 25px;
    margin-right: 200px;
}

header nav {
    width: 50%;
    margin-right: 10px;
    padding-left: 150px;
}

header ul {
    list-style: none;
    gap: 20px;
}

header ul li a {
    font-size: xx-small;
}

/* register styles */
main {
    z-index: 0;
}

#register {
    background-image: url(headphones_hero_1.jpg);
    background-repeat: no-repeat;
    height: 600px;
}

#register div {
    padding: 200px 0;
    width: 60%;
    margin-left: 20%;
}

button {
    margin: 40px 0;
    padding: 10px 30px;
    background-color: var(--red);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-transform: uppercase;
    border: none;
}

/* what we do section */
#what-we-do {
    padding-top: 100px;
}

#what-we-do h2 {
    margin: 20px 0;
    font-size: xx-large;
}

#what-we-do p {
    padding: 40px 180px 80px;
}

#portofolios {
    padding-bottom: 80px;
    flex-wrap: wrap;
}

#portofolios .portofolio {
    width: 178px;
}

.portofolio i {
    font-size: 70px;
}

.portofolio h3 {
    margin: 20px 0;
}

/* Our results */
#Our-Results {
    background-image: url(headphones_hero_2.jpg);
    padding: 80px 0;
}

#Our-Results p {
    padding: 40px 220px;
}

#percentages {
    height: 200px;
    flex-wrap: wrap;
}

#percentages div {
    background: rgba(0, 0, 0, 0) url(pentagone.png) no-repeat center;
    padding-top: 80px;
    width: 150px;
    background-size: 150px;
}

#percentages h3 {
    font-size: xx-large;
}

#percentages span {
    font-size: 11px;
    margin-top: 10px;
}